header {
    background: #1A237E;
    padding: 10px 0;
    font-weight: bold;
}

.container_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 34px;
    height: 34px;
}

h1 {
    font-size: 35px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.crear {
    background: #3d46b0;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 900px) {
    nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container_logo {
        gap: 5px;
    }

    .logo {
        width: 28px;
        height: 28px;
    }

    h1 {
        font-size: 28px;
    }

    ul {
        display: flex;
        flex-direction: row;
        gap: 20px;
        font-size: 18px;
        margin-top: 10px;
    }

    .crear {
        font-size: 16px;
        padding: 8px 16px;
    }
}

@media (max-width: 600px) {
    nav {
        gap: 3px;
    }

    .container_logo {
        gap: 3px;
    }

    h1 {
        font-size: 24px;
    }

    .logo {
        width: 24px;
        height: 24px;
    }

    ul {
        font-size: 16px;
        gap: 5px;
        margin-top: 10px;
    }

    .crear {
        font-size: 14px;
        padding: 6px 12px;
    }
}